.content{
    width: 760px;
    margin: 0 auto;
    position: relative;
    top: -100px;
    padding: 40px 60px;
    background: #fff
}

.content a{
    color: var(--contanta-color);
    font-size: 1.2em;
}

.spot{
    margin: 0 40px 80px;
    text-align: center;
}

.spot h2{
    color: var(--h2-color);
}

.spot p{
    color: var(--p-color);
    line-height: 2em;
    font-size: 0.9em
}
